<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><span class="glyphicon glyphicon-thumbs-up"></span> New PIZZADAY</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form role="form">
                        <div class="form-group">
                            <label for="eventDate"><span class="badge">1</span> Choose event date</label>
                            <input ng-model="eventAdd.event.date" type="text" class="form-control" id="eventDate" placeholder="Event date">
                        </div>
                        <div class="form-group">
                            <label for="psw"><span class="badge">2</span> Select group</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Available groups</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="group in eventAdd.groups">
                                                <td>{{ group.name }}
                                                    <button type="button" class="btn btn-xs btn-info btn-info" ng-click="eventAdd.selectGroup(group)">Select group</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Selected group</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{eventAdd.eventGroup.name}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <button ng-click="eventAdd.createEvent()" type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-plus"></span> Create event</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $("#myBtn").click(function() {
            $("#myModal").modal();
        });
    });
</script>
<style>
    .modal-header,h4,.close {
        background-color: #5cb85c;
        color: white !important;
        text-align: center;
        font-size: 30px;
    }
    .modal-footer {
        background-color: #f9f9f9;
    }
</style>
